<h1>Our service categories</h1>
<p>Browse to learn more about the services we offer!</p>
<div class="card-product">
  <img src="https://magictouchsd.com/wp-content/uploads/2019/10/professional-laundry-service-1200x480.jpg"/>
  <div class="card-product-infos">
    <h2>Laundry Service</h2>
    <p>Get your Laundry sorted! <strong>click to learn more about the service</strong>.</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>

<div class="card-product">
  <img src="https://insights.workwave.com/wp-content/uploads/2019/07/iStock-906777508-e1564417323957.jpg" />
  <div class="card-product-infos">
    <h2>Housekeeping</h2>
    <p>Professional cleaners transform your home to <strong>its cleanest state</strong>.</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>

<div class="card-product">
  <img src="https://www.rd.com/wp-content/uploads/2023/02/dog-groomer-pomeranian-GettyImages-1383177683.jpg" />
  <div class="card-product-infos">
    <h2>Pet Grooming</h2>
    <p>Our professional groomers make your pets look <strong>cuter than ever</strong>.</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>
