// Specific CSS for your home-page
.features-section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.feature {
  text-align: center;
  width: 30%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature img {
  max-width: 30%;
}

.feature h2 {
  font-size: 24px;
  margin-top: 10px;
}

.feature p {
  margin-top: 10px;
}

.icon {
  font-size: 36px;
  color: #0D6EFD;
  margin-top: 15px;
}
