<h1>All Bookings</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Cleaner</th>
      <th>Confirmation</th>
      <!-- Add more columns as needed -->
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.name %></td>
        <td><%= booking.service.rate %></td>
        <td>
          <%= link_to "Delete",
            booking_path(booking),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
        </td>
        <!-- Display other attributes as needed -->
      </tr>
    <% end %>
  </tbody>
</table>
