<% @categories.each do |category|%>
  <%= link_to category.description, service_path(category)%>
<% end %>


<div class="features-section">

  <img src="https://mydecorative.com/wp-content/uploads/2014/03/Cleaning-4.jpeg" alt="Feature 1">
    <h2>Feature 1</h2>
    <p>Discover our amazing feature 1.</p>
    <span class="icon fa fa-star"></span>
  </div>

